html, body{  
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.header{
    background-color: red;
    width: 100%;
    text-align: center;
}
.title_header{
    margin: 0;
}
.li_style{
    display: inline;
}
.li_style a{
    text-decoration: none;
    color:darkgray;
}

.image-container{
    display: inline-block;
    width: calc(25% - 3px);
    text-align: center;
}
img{
    width: 100%;
}
.image{
    padding-left: 10%;
    width: 80%;
}
.newsletter{
    display: block;
    border-top: 1px darkgray solid;
    border-bottom:1px darkgray solid;
    text-align: center;
}
.emailInput{
    margin-bottom: 25px;
}
.footer_first{
    text-align: center;
    border-bottom:1px darkgray solid;
}
.footer_first a{
    text-decoration: none;
}