html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* .fabada {
    background-color: #FABADA;
}

.aqua {
    background-color: aqua;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.coral {
    background-color: lightcoral;
}

.grey {
    background-color: grey;
}
*/

.header {
  position: relative;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.header__background {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
.header__nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  font-size: 20px;
  color: white;
  flex-wrap: wrap;
}
.header__nav__logo__icon {
  min-width: 180px;
}

.header__nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 18%;
  justify-content: space-between;
  align-items: center;
  z-index: -1000;
  overflow: hidden;
  flex-wrap: wrap;
}

.header__nav__list {
  flex: 1;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header__nav__list__part {
  padding-right: 65px;
}
.header__nav__list__part a {
  text-decoration: none;
  color: white;
}
.header__nav__button {
  margin-right: 2%;
  flex-wrap: wrap;
}
.header__nav__button_style {
  border-radius: 4px;
  background-color: rgb(254, 45, 168);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
.header__nav__button_style:hover {
  background-color: red;
}

.header__content {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 75px;
  flex-wrap: wrap;
}

.header__content__title__h1 {
  font-size: 43px;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.content__title {
  display: flex;
  width: 60%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.content__boot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.content__boot__column {
  display: flex;
  flex-direction: column;
}

.content__boot__column__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content__boot__column__row__leters {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  justify-content: center;
}

.content__boot__column__row__leters--bold {
  margin: 0;
  font-weight: bold;
}

.content__boot__column__row__leters--p {
  margin: 0;
}

.content__boot__column__row__image--img {
  width: 45px;
}

.content__boot__column__title {
  margin: 0;
}

.content__boot__column__extra {
  display: flex;
  flex-direction: column;
}

.content__boot__column__row__extra {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.content__boot__column__row__leters__extra {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  justify-content: flex-end;
}

.content__boot__column__row__image--icon {
  width: 22px;
  justify-content: flex-end;
}

.info {
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.info__first {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-around;
}

.info__first__left {
  display: flex;
  width: 30%;
  align-items: center;
}

.info__first__right {
  display: flex;
  width: 30%;
}

.article {
  width: 70%;
  margin: 0 auto;
}

.article__images {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.article__images__container {
  display: inline-block;
  width: calc(18% - 0px);
  align-items: center;
}

.article__images__container__size {
  width: 70%;
}
.people__title {
  text-align: center;
}
.people__cont {
  display: flex;
}
.people__videos {
  display: flex;
}
.people__videos__imageBackground1 {
  display: flex;
  background-image: url("../images/testimonials/elena_martin.jpg");
  width: 475px;
  height: 300px;
}
.people__videos__imageBackground2 {
  display: flex;
  background-image: url("../images/testimonials/testimonial_1.jpg");
  width: 475px;
  height: 300px;
}
.people__videos__imageBackground3 {
  display: flex;
  background-image: url("../images/testimonials/carmen_mallado.jpg");
  width: 475px;
  height: 300px;
}
.people__videos__imageBackground4 {
  display: flex;
  background-image: url("../images/testimonials/alberto_torres.jpg");
  width: 475px;
  height: 300px;
}

.people__videos__imageBackground__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-left: 40px;
  color: white;
}

.people__videos__imageBackground__text p {
  display: flex;
  margin: 5px;
}

.sabermas {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.sabermas__letters {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.sabermas__letters__titulo {
  width: 40%;
  text-align: center;
  font-size: 23px;
}

.sabermas__letters__parrafo {
  width: 40%;
  font-size: 20px;
  margin-left: 5%;
}

.sabermas__btn {
  display: flex;
  justify-content: center;
}

.sabermas__btn__full {
  border-radius: 4px;
  background-color: rgb(74, 64, 236);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5%;
}

.sabermas__btn__full:hover {
  background-color: rgb(47, 37, 233);
}

.plazas {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  margin-top: 5%;
}

.plazas__first__row {
  display: flex;
}

.plazas__first__row__article__title {
  color: white;
  font-size: 25px;
  margin-left: 5%;
}

.plazas__first__row__article__title2 {
  color: white;
  font-size: 25px;
  margin-left: 5%;
  margin-top: 15.5%;
}

.plazas__first__row__article1 {
  background-image: url("../images/bootcamps/fullstack-img-chooser.jpg");
  width: 630px;
  height: 600px;
}

.plazas__first__row__article2 {
  background-image: url("../images/bootcamps/ciber-img-chooser.jpg");
  width: 630px;
  height: 600px;
}

.plazas__first__row__article3 {
  background-image: url("../images/bootcamps/uxui-img-chooser.jpg");
  width: 630px;
  height: 600px;
}

.plazas__first__row__article4 {
  background-image: url("../images/bootcamps/frontend-img-chooser.jpg");
  width: 630px;
  height: 600px;
}

.plazas__first__row__article__btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.plazas__first__row__article__btn__full {
  border-radius: 4px;
  background-color: rgb(253, 199, 0);
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 170px;
  cursor: pointer;
  margin-top: 5%;
}

.plazas__first__row__article__btn__full2 {
  border-radius: 4px;
  background-color: rgb(58, 250, 215);
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 170px;
  cursor: pointer;
  margin-top: 5%;
}

.numbers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  margin-top: 5%;
}

.numbers__title {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.numbers__first__row {
  display: flex;
}

.uno {
  margin: 3%;
  font-size: 20px;
  margin: auto;
  width: 100%;
}

.uno__title {
  font-size: 50px;
}

.main__formulary {
  background-color: rgb(74, 64, 236);
  padding: 30px 0px;
  color: white;
}

.main__formulary__article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 155px;
  padding-top: 70px;
  flex-wrap: wrap;
}

.main__formulary__article__div1 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.main__formulary__article__div2 {
  display: flex;
  flex-direction: column;
}

.mainformulary__p {
  font-weight: normal;
  font-size: 20px;
}

.formulary__input {
  width: 700px;
  height: 40px;
  border-style: none;
  border-radius: 7px;
  margin: 10px 0px;
}

.main__formulary__btn__full {
  border-radius: 4px;
  background-color: rgb(58, 250, 215);
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 170px;
  cursor: pointer;
  margin-top: 3%;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: black;
  height: 250px;
}

.footer__section {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.footer__section__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.footer__section__items a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-decoration: none;
  color: white;
}

.footer__section__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8%;
  color: white;
}

.footer__section__ul li {
  list-style: none;
  margin-bottom: 3px;
}

.footer__icons {
  display: flex;
  margin-bottom: 8%;
  width: 9%;
}

.footer__icons img {
  margin-right: 10px;
  margin-left: 5px;
}

.footericons__img {
  margin: 10px;
}
